#sales-pitch {
  font-size: larger;
  padding: 10px;
}

.blockquote {
  float: left;
  padding: 10px;
}

.blockquote-footer {
  margin-bottom: 10px;
}

.bg-info img {
  width: 30%;
  height: auto;
}

div {
  padding: 10px;
  margin-bottom: 30px;
}

.card {
  width: 18rem;
}

#official-card {
  margin: auto;
  width: 60%;

}

.col-9 {
  padding-left: 35px;
}

#mascot {
  margin: auto;
  display: block;
}

body {
  background-image: url("../img/hakuba_mtns.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
